$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

body {
  overflow: hidden;
}

.sc-two-editors {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.sc-editor .sc-surface {
  padding: 20px;
}

.sc-editor.left-editor {
  border-right: 1px solid #ccc;
}

.se-status {
  height: 30px;
  font-size: 12px;
  padding: 0px 10px;
  line-height: 30px;
  background: #eee;

  a {
    color: inherit;
  }

  .se-left {
    float: left;
  }
  .se-right {
    float: right;
  }
}

