// Substance Base Styles
@import 'node_modules/substance/ui/styles/index';

// Pull in common writer styles
@import 'node_modules/substance/ui/styles/writer';

// TOC Panel
@import 'node_modules/substance/ui/styles/modules/toc_panel';

// Custom styles go here
// ------------------------

.topic-citation {
  background: rgba(11, 157, 217, 0.075);
  color: #1B6685;
  border-bottom: 1px solid rgba(11, 157, 217, 0.4);
}

.topic-citation.active {
  background: rgba(11, 157, 217, 0.6);
}


// Edit TopicCitationPanel
// ------------------------

.edit-topic-citation-panel-component {
  
  .topic {
    color: #444;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-left: 2px solid transparent;
  }

  .topic.active {
    background: #fff;
    border-left: 2px solid #0b9dd9;
  }
}