.sc-entity {

  border: solid 1px #ccc;
  padding: 2px 10px 10px;
  background: #FAFAFA;
  min-width: 400px;

  .se-title {
    font-size: x-small;
    font-style: italic;
  }

  .se-editor {
    margin-top: 10px;

    .sc-text-property-editor.enabled {
      background: #ffffff;
    }

    .se-row + .se-row {
      margin-top: 10px;
    }
  }

}