.sc-entity {

  border: solid 1px #ccc;
  padding: 2px 10px 10px;
  background: #F0F0F0;
  min-width: 400px;

  .se-title {
    font-size: x-small;
    font-style: italic;
  }

  > table {
    width: 100%;
    margin-top: 10px;
    table-layout: fixed;

    > colgroup > col.se-label-col {
      width: 200px;
    }

    .sc-text-property-editor.sm-enabled {
      background: #ffffff;
    }

    > tr.se-separator {
      height: 10px;
    }

  }

}