$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

body {
  overflow: hidden;
}

.sc-editor .sc-surface.body {
  padding: 40px;
}

.se-modal {
	padding: 15px;
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	left: 0px;
	top: 40px;
	z-index: 50000;
	right: 0px;
	bottom: 0px;
}