$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

body {
  overflow: hidden;
}

.sc-editor .sc-surface.body {
  padding: 40px;
}

.se-modal {
	padding: 15px;
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	left: 0px;
	top: 40px;
	z-index: 50000;
	right: 0px;
	bottom: 0px;
  overflow: scroll;
}

.se-form {
	max-width: 600px;
	margin: 10px auto;
	border: 1px #ddd solid;
	background: #fff;
}

.sc-field {
	margin: 15px 10px;

  input {
    margin: 0;
    width: 100%;
    font-size: 14px;
    display: block;
    border: 1px solid #ddd;
    min-width: auto;
    padding: 0 10px;
  }

  .help {
    font-style: italic;
    margin-top: 4px;
  }
}

.sc-field-date {
  margin: 20px 10px;

  select {
  	margin-right: 5px;
  }

  .help {
    float: right;
    margin: 0px;
  }
}

.sc-field-checkbox, .sc-field-checkboxes, .sc-field-radio {
	margin: 20px 10px;
  position:relative;
  
  label {
    display: block;
    font-size: 14px;
    margin: 10px 0;
	}
	input {
    width: 20px;
    height: 20px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
    float: left;
    font-size: 20px;
	}

  .help {
    float: right;
    margin: 0px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
}

.sc-field-select {
  margin: 20px 10px;

  .help {
    float: right;
    margin: 0px;
  }
}

.sc-field-prose {
	position: relative;
	height: 200px;
}