@import url('../lib/font-awesome/css/font-awesome.min.css');

/* styles shared by all examples */
@import './node_modules/substance/dist/substance.css';
@import './node_modules/substance/dist/substance-reset.css';
@import './node_modules/substance/dist/substance-pagestyle.css';
