
.sc-alien {
  position: relative;

  .se-overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    visibility: hidden;
  }

  &.sm-angry img {
    background-color: red
  }

  &.sm-excited img {
    background-color: yellow
  }

  &.sm-sad img {
    background-color: blue
  }

  &.sm-sick img {
    background-color: green
  }
}


/*
  TODO: we need to discuss: for isolated node components with
    an overlay UI, and which should be useable in ContainerEditor,
    we need a mechanism to make the overlay UI only visible when the
    isolated node is focused.
    The following does this in a hard-coded way
*/
.sc-container-editor > .sc-isolated-node > .sc-alien {
  display: inline-block;
}
.sc-container-editor > .sc-isolated-node.sm-focused > .sc-alien:hover > .se-overlay {
  visibility: visible;
}
