$fa-font-path:  "../fonts" !default;
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/substance/styles/base/index';

// Substance modules
@import '../node_modules/substance/styles/components/_all';
@import '../node_modules/substance/packages/_all';

.sc-mark {
  background: rgba(234, 231, 35, 0.3);
}

.sc-todo {
  padding-left: 20px;
  padding-bottom: 20px;
  position: relative;

  .se-done {
    display: inline-block;
    width: 20px;
    cursor: pointer;

    position: absolute;
    left: 0px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
}

/* Shared demo styles */

body {
  background: #f1f1f1;
  padding: 30px;
  overflow: hidden;
}

.footer {
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 10px;
}

.sc-notepad {
  position: fixed;
  top: 10px;
  bottom: 40px;
  left: 10px;
  right: 10px;
  border: 1px solid #ddd;
  background: white;
  color: #222;
}

.sc-container-editor {
  padding: 20px;
  overflow: auto;
}
