@import '../common.css';

body {
  overflow: hidden;
}

.sc-hybrid-inline {
  background: rgba(0,0,0, 0.3);
}

.sc-hybrid-inline > .se-content {
  padding: 2px 4px;
}

.sc-hybrid-inline.sm-focused,
.sc-hybrid-inline.sm-selected {
  outline: 2px solid blue;
}
